<div class="container">
    <!-- header-->
    <h3>Create A New Event</h3>
</div>
<div class="row">
    <form class="col s12" id="create-event-form">
        <!-- Location Field -->
        <div class="container">
            <h5>Location</h5>
            <label for="event-location">Choose the location of the event:</label>
            <input type="text" id="event-location" name="event-location" placeholder="e.g. Radio Coffee & Beer"
                required>
        </div>
        <!-- Location Field -->
        <div class="container">
            <h5>Event Name</h5>
            <label for="event-name">Choose the name of the event:</label>
            <input type="text" id="event-name" name="event-name" placeholder="e.g. Trivia Night" required>
        </div>
        <!-- Event Date -->
        <div class="container">
            <h5>Event Date</h5>
            <label for="event-date">Choose a date for your event:</label>
            <input type="date" id="event-date" name="event-date" min="2021-10-01" max="2022-12-31" required>
        </div>
        <!-- Start Time Field -->
        <div class="container">
            <h5>Start Time</h5>
            <label for="start-time">Choose a start time for your event:</label>
            <input type="time" id="start-time" name="start-time" min="00:00" max="23:59" required>
        </div>
        <!-- End Time Field -->
        <div class="container">
            <h5>End Time</h5>
            <label for="end-time">Choose an end time for your event:</label>
            <input type="time" id="end-time" name="end-time" min="00:00" max="23:59" required>
        </div>
        <!-- Event category -->
        <div class="container">
            <h6>Event Category</h6>
            <label>
                <input name="category" type="radio" checked />
                <span>board games</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>video Games</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>dungeons & dragons</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>poker night</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>sports</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>study session</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>book club</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>netflix watch party</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>wine & art party</span>
            </label>
            <label>
                <input name="category" type="radio" />
                <span>trivia night</span>
            </label>
        </div>
        <!-- name colon and every one of them has to have the same name -->
        <div class="container" style="margin-top: 30px;">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

<script src="../public/js/createEvent.js"></script>