<!-- whats up twizzlers this is my code -->
<header>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Event Form</title>
</header>
<!-- ============================================================================================================================================================ -->

<body>

    <body>
        <div class="container">
            <!-- header-->
            <h3>Event Creation Form</h3>
        </div>




        <!-- Location Field -->
        <div class="divider">
            <h5>Location</h5>
            <p>Stuff</p>
        </div>



        <!-- Event Date Field -->
        <div class="row">
            <div class="container">
                <h5>Event Date</h5>

                <label for="start">Start date:</label>
                <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">

            </div>
            <!-- Start Time Field -->
            <div class="container">
                <h5>Start Time</h5>
                <label for="appt">Choose a time for your meeting:</label>

                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>


            </div>
            <!-- End Time Field -->
            <div class="container">
                <h5>End Time</h5>
                <label for="appt">Choose a time for your meeting:</label>

                <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
            </div>

            <!-- Event category -->

            <form action="#" class="container">
                <h6>Event Category</h6>
                <label>
                    <input name="category" type="radio" checked />
                    <span>Board Games</span>
                </label>


                <label>
                    <input name="category" type="radio" />
                    <span>Video Games</span>
                </label>

                <label>
                    <input name="category" type="radio" />
                    <span>D&D</span>
                </label>


                <label>
                    <input name="category" type="radio" />
                    <span>Poker</span>
                </label>

                <label>
                    <input name="category" type="radio" />
                    <span>Sports</span>
                </label>

                <label>
                    <input name="category" type="radio" />
                    <span>Study</span>
                </label>

                <label>
                    <input name="category" type="radio" />
                    <span>Book Club</span>
                </label>

                <label>
                    <input name="category" type="radio" />
                    <span>Watch Party</span>
                </label>

                <label>
                    <input name="category" type="radio" />
                    <span>Wine & Art Party</span>
                </label>

            </form>
            
            <div class="col s12">
                <span class = "white-text">
                    <h3>.</h3>
                </span>
               
            </div>





            <!-- name colon and every one of them has to have the same name -->

            
            <div class="container">
                <input type="button" value="Submit">
            </div>



    </body>