<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Google Materalize fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>GROUPER APP</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="" class="brand-logo"> GROUPER</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Login</a></li>
                <li><a href="">Create Account </a></li>
                <li><a href="">Events </a></li>
            </ul>
        </div>
    </nav>
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="./image/download.jpeg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p> MULTIPLE DATES </p>
                    <h4> Poker Night!! </h4>
                    <h5> by Your Mom </h5>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col s9">
                <h5 class="black-text">Contact</h5>
                <a class="waves-effect waves-light btn-floating social facebook">
                    <i class="fa fa-facebook"></i></a>
            </div>
            <div class="col s3">
                <h5 class="black-text">Location</h5>
                    <li> Austin </li>
                    <li> Zoom </li>
                    <li> Discord </li>

            </div>
        </div>
    </div>



    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="center-align">
                    <h5 class="black-text">Grouper</h5>
                    <h6> Organizer of Group Events </h6>
                    <h7> Grouper is an app designed to create and organize group events in person and through zoom bla bla bla bla bla bla</h7>
                </div>
    

                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2020 Copyright Text
                </div>
            </div>
        </div>
    </footer>

</body>

</html>