<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Google Materalize fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Event Form</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo"> GROUPER</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Login</a></li>
        <li><a href="">Create Account </a></li>
        <li><a href="">Events </a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="card hoverable small">

      <div class="card-image">
        <img src="https://i.imgur.com/xqLnaoL.jpeg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>This is simple card.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>

      </div>
    </div>

    <div class="card hoverable small">
      <div class="card-image right" id="image">

        <img src="./image/event_pics/book_club_2.jpg">
      </div>
    </div>
  </div>



  </div>
  </div>











</body>